version: 2
updates:
  # GITHUB-ACTIONS
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
    open-pull-requests-limit: 1

  # PIP
  - package-ecosystem: pip
    directory: "/.github/workflows"
    schedule:
      interval: daily
    open-pull-requests-limit: 1
  - package-ecosystem: pip
    directory: "/spiffworkflow-backend/docs"
    schedule:
      interval: daily
    open-pull-requests-limit: 1
  - package-ecosystem: pip
    directory: "/"
    schedule:
      interval: daily
    open-pull-requests-limit: 1
  - package-ecosystem: pip
    directory: "/spiffworkflow-backend"
    schedule:
      interval: daily
    open-pull-requests-limit: 1
    ignore:
      - dependency-name: "gunicorn"
        versions: ["22.0.0"]

  # NPM
  - package-ecosystem: npm
    directory: "/.github/workflows"
    schedule:
      interval: daily
    open-pull-requests-limit: 1
  - package-ecosystem: npm
    directory: "/spiffworkflow-frontend"
    schedule:
      interval: daily
    open-pull-requests-limit: 1
