.mypy_cache/
/.idea/
/.coverage
.coverage.*
/coverage.xml
/.python-version
/.pytype/
/dist/
/docs/_build/
/src/*.egg-info/
/src/instance
__pycache__/
*.sqlite3
node_modules
/pyrightconfig.json
/tests/files/tickets.csv
/log/*.log
/tests/spiffworkflow_backend/files
/bin/import_secrets.py
/src/spiffworkflow_backend/config/secrets.py
*null-ls_*
/local_wheels/*.whl
/some_cache_dir
/process.json
/spiffworkflow_backend.svg
/.venv
