*.sqlite3
*null-ls_*
.coverage.*
.mypy_cache/
/.coverage
/.idea/
/.python-version
/.pytype/
/.venv
/api_logs_dump
/bin/import_secrets.py
/coverage.xml
/dist/
/docs/_build/
/local_wheels/*.whl
/log/*.log
/process.json
/process_models
/pyrightconfig.json
/some_cache_dir
/spiffworkflow_backend.svg
/src/*.egg-info/
/src/instance
/src/spiffworkflow_backend/config/secrets.py
/tests/files/tickets.csv
/tests/spiffworkflow_backend/files
__pycache__/
node_modules
