
services:
  spiffworkflow-backend:
    build:
      context: spiffworkflow-backend
      dockerfile: dev.Dockerfile
    #
    # TODO: would like to figure out the permissions issue that is preventing this
    #
    #user: "${RUN_AS}"
    environment:
      FLASK_DEBUG: "1"
      SPIFFWORKFLOW_BACKEND_DATABASE_URI: ""
      SPIFFWORKFLOW_BACKEND_ENV: "${SPIFFWORKFLOW_BACKEND_ENV:-local_development}"
      SPIFFWORKFLOW_BACKEND_LOAD_FIXTURE_DATA: ""
    volumes:
      - ./spiffworkflow-backend:/app
