# Docker Compose Configuration mostly for browser-based tests
# This setup runs two services: mysql database and the backend server.
# They communicate over a custom Docker network.
#
# The backend server uses an internal OpenID provider for authentication,
# which is served by the backend itself at /openid endpoint.
#
# If you ever want to get this working with keycloak, see old configuration updated with https://github.com/sartography/spiff-arena/pull/2588,
# which uses network_mode host (which cannot be tested on a mac, btw), and note that playwright would need to be updated to support something like:
# SPIFFWORKFLOW_FRONTEND_AUTH_WITH_KEYCLOAK: "true"

services:
  db:
    container_name: db
    image: mysql:8.0.29
    platform: linux/amd64
    cap_add:
      - SYS_NICE
    restart: "${SPIFFWORKFLOW_BACKEND_DATABASE_DOCKER_RESTART_POLICY:-no}"
    environment:
      - MYSQL_DATABASE=${SPIFFWORKFLOW_BACKEND_DATABASE_NAME:-spiffworkflow_backend_development}
      - MYSQL_ROOT_PASSWORD=${SPIFFWORKFLOW_BACKEND_MYSQL_ROOT_DATABASE:-my-secret-pw}
    networks:
      - spiffworkflow
    ports:
      - "7003:3306"
    volumes:
      - spiffworkflow_backend:/var/lib/mysql
    healthcheck:
      test: mysql --user=root --password=${SPIFFWORKFLOW_BACKEND_MYSQL_ROOT_DATABASE:-my-secret-pw} -e 'select 1' ${SPIFFWORKFLOW_BACKEND_DATABASE_NAME:-spiffworkflow_backend_development}
      interval: 10s
      timeout: 5s
      retries: 10

  spiffworkflow-backend: &spiffworkflow-backend
    container_name: spiffworkflow-backend
    profiles:
      - run
    depends_on:
      db:
        condition: service_healthy
    build:
      context: .
    environment:
      - FLASK_DEBUG=0
      - FLASK_SESSION_SECRET_KEY=${FLASK_SESSION_SECRET_KEY:-e7711a3ba96c46c68e084a86952de16f}
      - SPIFFWORKFLOW_BACKEND_AUTH_CONFIGS__0__identifier=default
      - SPIFFWORKFLOW_BACKEND_AUTH_CONFIGS__0__label=internal openid
      - SPIFFWORKFLOW_BACKEND_AUTH_CONFIGS__0__uri=${SPIFFWORKFLOW_BACKEND_URL:-http://localhost:7000}/openid
      - SPIFFWORKFLOW_BACKEND_AUTH_CONFIGS__0__additional_valid_issuers__0=http://host.docker.internal:7000/openid
      - SPIFFWORKFLOW_BACKEND_AUTH_CONFIGS__0__client_id=spiffworkflow-backend
      - SPIFFWORKFLOW_BACKEND_AUTH_CONFIGS__0__client_secret=JXeQExm0JhQPLumgHtIIqf52bDalHz0q
      - SPIFFWORKFLOW_BACKEND_BPMN_SPEC_ABSOLUTE_DIR=/app/process_models
      - SPIFFWORKFLOW_BACKEND_DATABASE_URI=mysql+mysqldb://root:${SPIFFWORKFLOW_BACKEND_MYSQL_ROOT_DATABASE:-my-secret-pw}@db:3306/${SPIFFWORKFLOW_BACKEND_DATABASE_NAME:-spiffworkflow_backend_development}
      - SPIFFWORKFLOW_BACKEND_ENV=${SPIFFWORKFLOW_BACKEND_ENV:-local_development}
      - SPIFFWORKFLOW_BACKEND_LOAD_FIXTURE_DATA=${SPIFFWORKFLOW_BACKEND_LOAD_FIXTURE_DATA:-false}
      - SPIFFWORKFLOW_BACKEND_PERMISSIONS_FILE_NAME=${SPIFFWORKFLOW_BACKEND_PERMISSIONS_FILE_NAME:-acceptance_tests.yml}
      - SPIFFWORKFLOW_BACKEND_PORT=7000
        # the background scheduler picks up process instances that we set in a certain state and then runs them like running not_started instances
        # that are required for the process instance filter test. So for now do not run it. we may want to find another way around in the future
      - SPIFFWORKFLOW_BACKEND_RUN_BACKGROUND_SCHEDULER_IN_CREATE_APP=false
      - SPIFFWORKFLOW_BACKEND_URL_FOR_FRONTEND=${SPIFFWORKFLOW_BACKEND_URL_FOR_FRONTEND:-http://localhost:7001}
      - SPIFFWORKFLOW_BACKEND_UPGRADE_DB=true
      - SPIFFWORKFLOW_BACKEND_URL=${SPIFFWORKFLOW_BACKEND_URL:-http://localhost:7000}
    ports:
      - "7000:7000"
    networks:
      - spiffworkflow
    volumes:
      - ${SPIFFWORKFLOW_BACKEND_BPMN_SPEC_ABSOLUTE_DIR:-../../sample-process-models}:/app/process_models
      - ./log:/app/log
    healthcheck:
      test: curl localhost:7000/v1.0/status --fail
      interval: 10s
      timeout: 5s
      retries: 20

  spiffworkflow-backend-local-debug:
    <<: *spiffworkflow-backend
    container_name: spiffworkflow-backend-local-debug
    profiles:
      - debug
    volumes:
      - ${SPIFFWORKFLOW_BACKEND_BPMN_SPEC_ABSOLUTE_DIR:-../../sample-process-models}:/app/process_models
      - ./:/app
    command: /app/bin/boot_in_docker_debug_mode

    # the docs say we can disable healthchecks with disable: true
    # but it returns a bad exit code so setup one that doesn't matter
    # since there is nothing to healthcheck in this case
    # https://docs.docker.com/compose/compose-file/compose-file-v3/#healthcheck
    healthcheck:
      test: cat /etc/hosts
      interval: 10s
      timeout: 5s
      retries: 20

networks:
  spiffworkflow:
    driver: bridge

volumes:
  spiffworkflow_backend:
    driver: local
