.rjsf .header {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #161616;
}

.rjsf .field-description {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.16px;
  color: #525252;
  margin-bottom: 0em;
}

.rjsf .field-description .wmde-markdown {
  font: inherit;
  line-height: inherit;
  color: inherit;
  background-color: inherit;
}

.rjsf .field-description .wmde-markdown p {
  font: inherit;
  line-height: inherit;
  color: inherit;
  background-color: inherit;
}


/* for some reason it wraps the entire form using FieldTemplate.jsx, which is where we added the rjsf-field thing (which is only intended for fields, not entire forms. hence the double rjsf-field reference, only for rjsf-fields inside rjsf-fields, so we don't get double margin after the last field */
.rjsf .rjsf-field .rjsf-field {
  margin-bottom: 2em;
}

.array-item-toolbox {
  margin-left: 2em;
}

.rjsf .text-input {
  padding-top: 8px;
}

.rjsf .date-input {
  padding-top: 8px;
}

.rjsf .rjsf-field label {
  font-weight: bolder;
}

.rjsf .rjsf-field .required {
  color: #660000;
}

.rjsf #root #root__description {
  margin-bottom: 0.5em;
}

.rjsf .array-item {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.rjsf .array-item legend {
  display: none;
}

.rjsf .array-item  .rjsf-field {
  margin-bottom: 0;
}

.rjsf .markdown-field-desc-text .field-description {
  font-size: .8rem;
}

.rjsf .numeric--range-field-wrapper input {
  width: auto;
}

.rjsf .numeric--range-field-inputs {
  margin: 0.33rem 0 0 0;
  display: flex;
  align-items: center;
}

.rjsf .numeric--range-field-help-text {
  font-size: var(--cds-helper-text-01-font-size, 0.75rem);
  line-height: var(--cds-helper-text-01-line-height, 1.33333);
  letter-spacing: var(--cds-helper-text-01-letter-spacing, 0.32px);
  z-index: 0;
  color: var(--cds-text-secondary, #525252);
  inline-size: 100%;
  margin-block-start: 0.25rem;
  opacity: 1;
}
