{% extends "layout.html" %} {% block title %}
  Process Model Edit: {{ process_model.id }}
{% endblock %}

{% block head %}
  <meta charset="UTF-8" />

  <!-- example styles -->
  <!-- required modeler styles -->
  <link rel="stylesheet" href="https://unpkg.com/bpmn-js@9.1.0/dist/assets/bpmn-js.css" />
  <link rel="stylesheet" href="https://unpkg.com/bpmn-js@9.1.0/dist/assets/diagram-js.css" />
  <link rel="stylesheet" href="https://unpkg.com/bpmn-js@9.1.0/dist/assets/bpmn-font/css/bpmn.css" />

  <link rel="stylesheet" href="https://unpkg.com/bpmn-js-properties-panel/dist/assets/properties-panel.css">
  <link rel="stylesheet" href="https://unpkg.com/bpmn-js-properties-panel/dist/assets/element-templates.css">

  <!-- modeler distro -->
  <script src="https://unpkg.com/bpmn-js@9.1.0/dist/bpmn-modeler.development.js"></script>

  <!-- needed for this example only -->
  <script src="https://unpkg.com/jquery@3.3.1/dist/jquery.js"></script>

  <!-- example styles -->
  <style>
    html, body, #canvas {
      height: 100%;
      padding: 0;
      margin: 0;
    }

    .diagram-note {
      background-color: rgba(66, 180, 21, 0.7);
      color: White;
      border-radius: 5px;
      font-family: Arial;
      font-size: 12px;
      padding: 5px;
      min-height: 16px;
      width: 50px;
      text-align: center;
    }

    .needs-discussion:not(.djs-connection) .djs-visual > :nth-child(1) {
      stroke: rgba(66, 180, 21, 0.7) !important; /* color elements as red */
    }

    #save-button {
      position: fixed;
      bottom: 20px;
      left: 20px;
    }
  </style>
{% endblock %}

{% block content %}
  <div id="result">{{ result }}</div>
  <button
    type="button"
    onclick="window.location.href='{{ url_for( 'admin.process_model_show_file', process_model_id=process_model.id, file_name=file_name ) }}';"
  >
    Back
  </button>
  <button type="button" onclick="exportDiagram()">Save</button>
  <!-- <div class="modeler"> -->
    <div id="canvas"></div>
    <div id="properties"></div>
  <!-- </div> -->

  <meta id="bpmn_xml" data-name="{{bpmn_xml}}" />
  <script>
    // import BpmnModeler from '/admin/static/node_modules/bpmn-js/lib/Modeler.js';
    // import {
    // BpmnPropertiesPanelModule,
    // BpmnPropertiesProviderModule,
    // } from '/admin/static/node_modules/bpmn-js-properties-panel/dist/index.js';
    //
    // const bpmnModeler = new BpmnModeler({
    //   container: '#canvas',
    //   propertiesPanel: {
    //     parent: '#properties'
    //   },
    //   additionalModules: [
    //     BpmnPropertiesPanelModule,
    //     BpmnPropertiesProviderModule
    //   ]
    // });

    // modeler instance
    var bpmnModeler = new BpmnJS({
        container: "#canvas",
        keyboard: {
            bindTo: window,
          },
      });

    /**
     * Save diagram contents and print them to the console.
     */
    async function exportDiagram() {
      try {
        var data = await bpmnModeler.saveXML({ format: true });
        //POST request with body equal on data in JSON format
          fetch("/admin/process-models/{{ process_model.id }}/save/{{ file_name }}", {
          method: "POST",
          headers: {
            "Content-Type": "text/xml",
          },
          body: data.xml,
        })
          .then((response) => response.json())
          //Then with the data from the response in JSON...
          .then((data) => {
            console.log("Success:", data);
          })
          //Then with the error genereted...
          .catch((error) => {
            console.error("Error:", error);
          });

        alert("Diagram exported. Check the developer tools!");
      } catch (err) {
        console.error("could not save BPMN 2.0 diagram", err);
      }
    }

    /**
     * Open diagram in our modeler instance.
     *
     * @param {String} bpmnXML diagram to display
     */
    async function openDiagram(bpmnXML) {
      // import diagram
      try {
        await bpmnModeler.importXML(bpmnXML);

        // access modeler components
        var canvas = bpmnModeler.get("canvas");
        var overlays = bpmnModeler.get("overlays");

        // zoom to fit full viewport
        canvas.zoom("fit-viewport");

        // attach an overlay to a node
        overlays.add("SCAN_OK", "note", {
          position: {
            bottom: 0,
            right: 0,
          },
          html: '<div class="diagram-note">Mixed up the labels?</div>',
        });

        // add marker
        canvas.addMarker("SCAN_OK", "needs-discussion");
      } catch (err) {
        console.error("could not import BPMN 2.0 diagram", err);
      }
    }

    // trying to use the python variable bpmn_xml directly causes the xml to have escape sequences
    // and using the meta tag seems to help with that
    var bpmn_xml = $("#bpmn_xml").data();
    openDiagram(bpmn_xml.name);

    // wire save button
    $("#save-button").click(exportDiagram);
  </script>
{% endblock %}
