body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

span.bjs-crumb {
  color: #0000ff;
}
.bjs-breadcrumbs li:last-of-type span.bjs-crumb a {
  color: black;
}

.app-logo {
  height: 85%;
  width: 85%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.spiffworkflow-header-container {
  margin-bottom: 2em;
}

.active-task-highlight:not(.djs-connection) .djs-visual > :nth-child(1) {
  fill: yellow !important;
  opacity: .6;
}

.completed-task-highlight:not(.djs-connection) .djs-visual > :nth-child(1) {
  fill: grey !important;
  opacity: .4;
}

.accordion-item-label {
  vertical-align: middle;
}

.cds--breadcrumb {
  margin-bottom: 2em;
}

.process-description {
  margin-bottom: 2em;
}

.diagram-editor-canvas {
  border:1px solid #000000;
  height:70vh;
  width:90vw;
  margin:auto;
}

.cds--btn.button-white-background {
  color: #393939;
  background: #FFFFFF;
  background-blend-mode: multiply;
  border: 1px solid #393939;
}

.with-bottom-margin {
  margin-bottom: 1em;
}

.diagram-viewer-canvas {
  border:1px solid #000000;
  height:70vh;
  width:90vw;
  margin:auto;
}

.breadcrumb {
  font-size: 1.5em;
}

.breadcrumb-item.active {
  color: black;
}

.container .nav-tabs {
  margin-top: 1em;
}


/* Markdown Tables */
.markdown table {
  color: #333;
  background: white;
  border: 1px solid grey;
  font-size: 12pt;
  border-collapse: collapse;
}
.markdown table thead th,
.markdown table tfoot th {
  color: #777;
  background: rgba(0,0,0,.1);
}
.markdown table th,
.markdown table td {
  padding: .5em;
  border: 1px solid lightgrey;
}
/* Zebra Table Style */
.markdown tbody tr:nth-of-type(odd) {
  background: rgba(0,0,0,.05);
}

/* Json Web Form CSS Fix - Bootstrap now requries that each li have a "list-inline-item." Also have a PR
 in on this with the react-jsonschema-form repo. This is just a patch fix to allow date inputs to layout a little more cleanly */
.list-inline>li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
