/* site is mainly using white theme. */
/* header is mainly using g100 */
/* mockup wanted white, not grey, text */
.cds--header, a.cds--header__menu-item {
  color: white;
}

h1{
  height: 36px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  color: #161616;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin-bottom: 1em
}

.span-tag {
  color: black;
}

.cds--btn.button-white-background {
  color: #393939;
  background: #FFFFFF;
  background-blend-mode: multiply;
  border: 1px solid #393939;
}
.cds--btn.button-white-background:hover {
  background: lightgrey;
}

.cds--breadcrumb-item a.cds--link:hover {
  color: #525252;
}
.cds--breadcrumb-item a.cds--link:visited {
  color: #525252;
}
.cds--breadcrumb-item a.cds--link:visited:hover {
  color: #525252;
}
.cds--breadcrumb-item a.cds--link {
  color: #525252;
}

.cds--btn--ghost {
  color: black;
}
.cds--btn--ghost:visited {
  color: black;
}
.cds--btn--ghost:hover {
  color: black;
}
.cds--btn--ghost:visited:hover {
  color: black;
}

.cds--header__global .cds--btn--primary {
  background-color: #161616
}
.cds--btn--primary {
  background-color: #393939;
}
.cds--btn--primary:hover {
  background-color: #474747;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-logo {
  height: 85%;
  width: 85%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.spiffworkflow-header-container {
  margin-bottom: 2em;
}

.active-task-highlight:not(.djs-connection) .djs-visual > :nth-child(1) {
  fill: yellow !important;
  opacity: .6;
}

.completed-task-highlight:not(.djs-connection) .djs-visual > :nth-child(1) {
  fill: grey !important;
  opacity: .4;
}

.accordion-item-label {
  vertical-align: middle;
}

.cds--breadcrumb {
  margin-bottom: 2em;
}

.process-description {
  margin-bottom: 2em;
}

h1.with-icons {
  margin-top: 5px;
}

.grid-list-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #161616;
}
.grid-date {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.16px;
  color: #525252;
}
.smaller-text {
  font-size: 14px;
}

.diagram-editor-canvas {
  border:1px solid #000000;
  height:70vh;
  width:90vw;
  margin:auto;
}

.with-bottom-margin {
  margin-bottom: 1em;
}

.diagram-viewer-canvas {
  border:1px solid #000000;
  height:70vh;
  width:90vw;
  margin:auto;
}

.breadcrumb {
  font-size: 1.5em;
}

.breadcrumb-item.active {
  color: black;
}

.container .nav-tabs {
  margin-top: 1em;
}


/* Markdown Tables */
.markdown table {
  color: #333;
  background: white;
  border: 1px solid grey;
  font-size: 12pt;
  border-collapse: collapse;
}
.markdown table thead th,
.markdown table tfoot th {
  color: #777;
  background: rgba(0,0,0,.1);
}
.markdown table th,
.markdown table td {
  padding: .5em;
  border: 1px solid lightgrey;
}
/* Zebra Table Style */
.markdown tbody tr:nth-of-type(odd) {
  background: rgba(0,0,0,.05);
}

/* Json Web Form CSS Fix - Bootstrap now requries that each li have a "list-inline-item." Also have a PR
 in on this with the react-jsonschema-form repo. This is just a patch fix to allow date inputs to layout a little more cleanly */
.list-inline>li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
