// @use '@carbon/react/scss/themes';
// @use '@carbon/react/scss/theme' with ($theme: themes.$g100);

// @use '@carbon/react/scss/theme' with
//   (
//     $theme: (
//   cds-link-primary: #525252
//     )
//   );

@use '@carbon/react';
@use '@carbon/styles';
// @include grid.flex-grid();

@use '@carbon/colors';
// @use '@carbon/react/scss/colors';
@use '@carbon/react/scss/themes';

// Not certain the best location for this, but here are some global
// tweaks the markdown styles.

main {
}

.fixed-width-container {
  padding-left: 0;
  overflow: visible;
}

@media (min-width: 99rem) {
  .fixed-width-container {
    max-width: 99rem;
    padding-right: 0;
  }
}

@media (min-width: 80rem) {
  .fixed-width-container {
    padding-left: 10rem;
    padding-right: 2rem;
  }
}

p, li, h1, h2, h3, h4, h5, h6, blockquote {
  max-width: 640px;
}
li.cds--accordion__item {
  max-width: 100%;
}

div.markdown {
  max-width: 1000px;
  padding: 15px 0 15px 0;
  overflow: visible;
}

div.markdown-collapsed {
  max-height: 200px;
  overflow: hidden;

  --mask: linear-gradient(to bottom,
          rgba(0,0,0, 1) 0,   rgba(0,0,0, 1) 40%,
          rgba(0,0,0, 0) 95%, rgba(0,0,0, 0) 0
  ) 100% 50% / 100% 100% repeat-x;

  font: 2em/1.6em Arial;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}


.cds--data-table-content {
  width: fit-content;
  min-width: 100%;
  overflow-x: visible;
}

.wmde-markdown table {
  width: fit-content;
}

.wmde-markdown ol {
  list-style: decimal;
}

.wmde-markdown ul {
  list-style: disc;
}

div.cds--tag svg {
  vertical-align: middle;
  display: inline-block;
}

div.onboarding {
  margin-bottom: 2rem;
}