/* site is mainly using white theme. */
/* header is mainly using g100 */
/* mockup wanted white, not grey, text */
.cds--header, a.cds--header__menu-item {
  color: white;
}

.megacondensed {
  padding-left: 0px;
}

/* defaults to 3rem, which isn't long sufficient for "elizabeth" */
.cds--header__action.username-header-text {
  width: 5rem;
}

.cds--header__action.spiff-environment-header-text {
  width: 5rem;
  color: #126d82;
}

.cds--header__action.unclickable-text:hover {
  background-color: #161616;
  cursor: default;
}
.cds--header__action.unclickable-text:focus {
  border: none;
  box-shadow: none;
  border-color: none;
}

.cds--loading__stroke {
  stroke: gray;
}

/* make this a little less prominent so the actual human beings completing tasks stand out */
.system-user-log-entry {
  color: #B0B0B0;
  font-style: italic;
}

h1 {
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  color: #161616;
  margin-bottom: 1em
}

h2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #161616;
}

.span-tag {
  color: black;
}

.cds--btn.button-white-background {
  color: #393939;
  background: #FFFFFF;
  background-blend-mode: multiply;
  border: 1px solid #393939;
}
.cds--btn.button-white-background:hover {
  background: lightgrey;
}

.cds--breadcrumb-item a.cds--link:hover {
  color: #525252;
}
.cds--breadcrumb-item a.cds--link:visited {
  color: #525252;
}
.cds--breadcrumb-item a.cds--link:visited:hover {
  color: #525252;
}
.cds--breadcrumb-item a.cds--link {
  color: #525252;
}

.cds--btn--ghost {
  color: black;
}
.cds--btn--ghost:visited {
  color: black;
}
.cds--btn--ghost:hover {
  color: black;
}
.cds--btn--ghost:visited:hover {
  color: black;
}

/* match normal link colors */
.cds--btn--ghost.button-link {
  color: #0062fe;
  padding-left: 0;
}
.cds--btn--ghost.button-link:visited {
  color: #0062fe;
  padding-left: 0;
}
.cds--btn--ghost.button-link:hover {
  color: #0062fe;
  background-color: white;
  padding-left: 0;
}
.cds--btn--ghost.button-link:visited:hover {
  color: #0062fe;
  background-color: white;
  padding-left: 0;
}

.cds--header__global .cds--btn--primary.button-link {
  color: #f4f4f4;
  background-color: #393939;
  padding-left: 0;
}

.cds--header__global .cds--btn--primary {
  background-color: #161616
}
.cds--btn--primary {
  background-color: #393939;
}
.cds--btn--primary:hover {
  background-color: #474747;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.app-logo {
  height: 37px;
  width: 152px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.spiffworkflow-header-container {
  margin-bottom: 2em;
}

.active-task-highlight:not(.djs-connection) .djs-visual > :nth-child(1) {
  fill: yellow !important;
  opacity: .6;
}

.completed-task-highlight:not(.djs-connection) .djs-visual > :nth-child(1) {
  fill: grey !important;
  opacity: .4;
}
.cancelled-task-highlight:not(.djs-connection) .djs-visual > :nth-child(1) {
  fill: blue !important;
  opacity: .2;
}
.errored-task-highlight:not(.djs-connection) .djs-visual > :nth-child(1) {
  fill: red !important;
  opacity: .2;
}

.accordion-item-label {
  vertical-align: middle;
}

.cds--breadcrumb {
  margin-bottom: 1em;
}

.process-description {
  margin-bottom: 2em;
}

h1.with-icons {
  margin-top: 5px;
}

.grid-list-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #161616;
}
.grid-date {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.16px;
  color: #525252;
}
.smaller-text {
  font-size: 14px;
}

.diagram-editor-canvas {
  border:1px solid #000000;
  height:70vh;
  width:90vw;
  margin:auto;
}

.with-bottom-margin {
  margin-bottom: 1em;
}

.user-profile-toggletip-content {
  background-color: #393939;
  color: #f4f4f4;
  margin-right: 8px;
  margin-top: -20px;
}

#user-profile-toggletip {
  margin-top: 8px;
  margin-right: 12px;
}
#user-profile-toggletip .cds--popover-content::before {
  content: none;
}

#user-profile-toggletip .cds--popover--bottom-right .cds--popover-content {
  bottom: 11px;
  right: -5px;
  border-radius: 5px;
  border: 3px solid black;
}

#user-profile-toggletip .cds--popover-caret {
  display: none;
}

.user-profile-toggletip-button:hover {
  background-color: #161616;
}

#user-profile-toggletip .cds--popover--tab-tip__button::after {
  content: none;
}

#user-profile-toggletip .cds--popover--tab-tip.cds--popover--open .cds--popover--tab-tip__button{
  background-color: #161616;
}

.with-top-margin {
  margin-top: 1em;
}

.with-extra-top-margin {
  margin-top: 1.3em;
}

.with-top-margin-for-label-next-to-text-input {
  margin-top: 2.3em;
}

.with-tiny-top-margin {
  margin-top: 4px;
}

.with-top-margin-for-unit-test-name {
  margin-top: 11px;
}

.with-large-bottom-margin {
  margin-bottom: 3em;
}

.with-tiny-bottom-margin {
  margin-bottom: 4px;
}

.diagram-viewer-canvas {
  border:1px solid #000000;
  height:70vh;
  width:90vw;
  margin:auto;
}

.breadcrumb {
  font-size: 1.5em;
}

.breadcrumb-item.active {
  color: black;
}

.container .nav-tabs {
  margin-top: 1em;
}


/* Markdown Tables */
.markdown table {
  color: #333;
  background: white;
  border: 1px solid grey;
  font-size: 12pt;
  border-collapse: collapse;
}
.markdown table thead th,
.markdown table tfoot th {
  color: #777;
  background: rgba(0,0,0,.1);
}
.markdown table th,
.markdown table td {
  padding: .5em;
  border: 1px solid lightgrey;
}
/* Zebra Table Style */
.markdown tbody tr:nth-of-type(odd) {
  background: rgba(0,0,0,.05);
}

.form-instructions {
  margin-bottom: 10em;
}

/* Json Web Form CSS Fix - Bootstrap now requries that each li have a "list-inline-item." Also have a PR
in on this with the react-jsonschema-form repo. This is just a patch fix to allow date inputs to layout a little more cleanly */
.list-inline>li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.cds--tile.tile-process-group {
  padding: 0px;
  margin: 12px;
  width: 320px;
  height: 264px;
  background: #F4F4F4;
  order: 1;
  float: left;
}

.tile-process-group-content-container {
  width: 320px;
  height: 264px;
  padding: 1em;
  position: relative;
}

.tile-process-group-display-name {
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 20px;
  line-height: 28px;
  color: #161616;
  order: 0;
}

.tile-title-top {
  margin-bottom: 2em;
  font-size: 20px;
  line-height: 28px;
  color: #161616;
  order: 0;
}

.tile-description {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.16px;
  color: #161616;
  order: 1;
}

.tile-process-group-children-count {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.16px;
  color: #161616;
  order: 1;
}

.tile-pin-bottom {
  position: absolute;
  bottom: 1em;
}

.cds--tabs .cds--tabs__nav-link {
  max-width: 20rem;
}

.clear-left {
  clear: left;
}

td.actions-cell {
  width: 1em;
}

.process-instance-table-header {
  margin-bottom: 1em;
}

.no-results-message {
  font-style: italic;
  margin-left: 2em;
  font-size: 14px;
}

.data-table-description {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.16px;
  color: #525252;
  margin-bottom: 1em;
}

/* top and bottom margin since this is sort of the middle of three sections on the process model show page */
.process-model-files-section {
  margin: 2em 0;
}

.filterIcon {
  text-align: right;
  padding-bottom: 10px;
}

.cds--btn--ghost:not([disabled]).red-icon svg {
  fill: red;
}
.cds--btn--ghost:not([disabled]).green-icon svg {
  fill: #198038;
}
.cds--btn--ghost:not([disabled]) svg.red-icon {
  fill: red;
}

svg.green-icon {
  fill: #198038;
}

svg.notification-icon {
  margin-right: 1rem;
}

.failure-string {
  color: red;
}

.cds--btn--ghost.cds--btn--sm.button-tag-icon {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

/* .no-wrap cds--label cds--label--inline cds--label--inline--md{ */
.no-wrap .cds--label--inline{
  word-break: normal;
}

.vertical-spacer-to-allow-combo-box-to-expand-in-modal {
  height: 250px;
}

.cds--btn.narrow-button {
  max-width: 10rem;
  min-width: 5rem;
  word-break: normal;
}

/* make this the same width as the carbon datePickerItem element
 * so the calendar icon stays on the input box.
 * CLASS: cds--date-picker-input__wrapper
*/
.cds--date-picker-container .cds--form__helper-text {
  width: 18rem;
}

/* lime green */
.tag-type-green:hover {
  background-color:	#80ee90;
}

/* Errors and notifications  */
.error_info .error_title {
  display: inline-block;
  font-weight: lighter;
  width: 100px;
  text-align: right;
  margin-right: 10px;
}

.please-press-filter-button {
  margin-bottom: 1em;
  font-weight: bold;
}

.user_instructions {
  filter: opacity(1);
  font-size: 1.2em;
  margin: 15px 0;
}

.user_instructions_0 {
  filter: opacity(1);
  font-size: 1.2em;
  margin-bottom: 30px;
}

.user_instructions_1 {
  filter: opacity(60%);
  font-size: 1.1em;
}

.user_instructions_2 {
  filter: opacity(40%);
  font-size: 1em;
}

.user_instructions_3 {
  filter: opacity(20%);
  font-size: 9em;
}

.user_instructions_4 {
  filter: opacity(10%);
  font-size: 8em;
}

.float-right {
  float: right;
}

.user-list {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.user-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
}

.user-circle-for-list {
  margin-right: 10px;
}

/* Randomize color assignment */
.user-circle:nth-child(1) {
  background-color: #8e8e8e;
}

.user-circle:nth-child(2) {
  background-color: #a57c63;
}

.user-circle:nth-child(3) {
  background-color: #8f7c7c;
}

.user-circle:nth-child(4) {
  background-color: #9a927f;
}

.user-circle:nth-child(5) {
  background-color: #5e5d5d;
}

.user-circle:nth-child(6) {
  background-color: #676767;
}

.user-circle:nth-child(7) {
  background-color: #6d7d6d;
}

.user-circle:nth-child(8) {
  background-color: #7a7171;
}

.user-circle:nth-child(9) {
  background-color: #837d63;
}

/* Default to first color if more than 10 users */
.user-circle:nth-child(n+11) {
  background-color: #8e8e8e;
}

.version-info-column {
  width: 50%;
}

/* From bootstrap _reboot.scss, people got used to this when we
* had the bootstrap stylesheets, and they liked it.
* Otherwise, the hr in the user profile dropdown shows up as a dot
* and from markdown it's a little darker.
*/
hr {
    border: 0;
    border-top: 1px solid;
    color: inherit;
    margin: 1rem 0;
    opacity: .25;
}

.primary-file-text-suffix {
  font-style: italic;
}

#hidden-form-for-autosave {
  display: none;
}
