// @use '@carbon/react/scss/themes';
// @use '@carbon/react/scss/theme' with ($theme: themes.$g100);

// @use '@carbon/react/scss/theme' with
//   (
//     $theme: (
//   cds-link-primary: #525252
//     )
//   );

@use '@carbon/react';
@use '@carbon/styles';
// @include grid.flex-grid();

@use '@carbon/colors';
// @use '@carbon/react/scss/colors';
@use '@carbon/react/scss/themes';

// Not certain the best location for this, but here are some global
// tweaks the markdown styles.

main {
  max-width: 1440px;
  margin: auto;
}

p, li, h1, h2, h3, h4, h5, h6, blockquote {
  max-width: 640px;
}

div.show-page, div.markdown, div.markdown-collapsed, div.markdown-collapsable {
  margin: 0 auto;
  max-width: 1000px;
  padding: 15px 0 15px 0;
}

.wmde-markdown ol {
  list-style: decimal;
}

.wmde-markdown ul {
  list-style: disc;
}

