.rjsf .header {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #161616;
}

.rjsf .field-description {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.16px;
  color: #525252;
  margin-bottom: 1em;
}

/* for some reason it wraps the entire form using FieldTemplate.jsx, which is where we added the rjsf-field thing (which is only intended for fields, not entire forms. hence the double rjsf-field reference, only for rjsf-fields inside rjsf-fields, so we don't get double margin after the last field */
.rjsf .rjsf-field .rjsf-field {
  margin-bottom: 2em;
}

.array-item-toolbox {
  margin-left: 2em;
}

.rjsf .text-input {
  padding-top: 8px;
}

.rjsf .date-input {
  padding-top: 8px;
}
