default_group: everybody

groups:
  admin:
    users:
      [
        jakub,
        kb,
        alex,
        dan,
        mike,
        jason,
        amir,
        jarrad,
        elizabeth,
        jon,
        harmeet,
        sasha,
        manuchehr,
        natalia,
      ]

  finance:
    users: [finance_user1]

permissions:
  admin:
    groups: [admin]
    users: []
    allowed_permissions: [create, read, update, delete, list, instantiate]
    uri: /*

  finance-admin:
    groups: [finance]
    users: []
    allowed_permissions: [create, read, update, delete]
    uri: /v1.0/process-groups/execute-procure-to-pay/*

  read-all:
    groups: [finance, admin]
    users: []
    allowed_permissions: [read]
    uri: /*
