default_group: everybody

groups:
  admin:
    users:
      [
        jakub,
        kb,
        alex,
        dan,
        mike,
        jason,
        amir,
        jarrad,
        elizabeth,
        jon,
        harmeet,
        sasha,
        manuchehr,
        natalia,
      ]

  Finance Team:
    users: [finance_user1, jason]

  Project Lead:
    users:
      [
        jakub,
        alex,
        dan,
        mike,
        jason,
        jarrad,
        elizabeth,
        jon,
        natalia,
        manuchehr,
      ]

permissions:
  admin:
    groups: [admin]
    users: []
    allowed_permissions: [create, read, update, delete, list, instantiate]
    uri: /*

  tasks-crud:
    groups: [everybody]
    users: []
    allowed_permissions: [create, read, update, delete]
    uri: /v1.0/tasks/*

  process-model-read-all:
    groups: [everybody]
    users: []
    allowed_permissions: [read]
    uri: /v1.0/process-models/*

  process-group-read-all:
    groups: [everybody]
    users: []
    allowed_permissions: [read]
    uri: /v1.0/process-groups/*

  # TODO: all uris should really have the same structure
  finance-admin-group:
    groups: ["Finance Team"]
    users: []
    allowed_permissions: [create, read, update, delete]
    uri: /v1.0/process-groups/finance/*

  finance-admin-model:
    groups: ["Finance Team"]
    users: []
    allowed_permissions: [create, read, update, delete]
    uri: /v1.0/process-models/finance/*

  read-all:
    groups: [admin, "Project Lead"]
    users: []
    allowed_permissions: [read]
    uri: /*
