default_group: everybody

users:
  admin:
    service: local_open_id
    email: admin@spiffworkflow.org
    password: admin
    preferred_username: Admin
  nelson:
    service: local_open_id
    email: nelson@spiffworkflow.org
    password: nelson
    preferred_username: Nelson
  malala:
    service: local_open_id
    email: malala@spiffworkflow.org
    password: malala
    preferred_username: Malala
  oskar:
    service: local_open_id
    email: oskar@spiffworkflow.org
    password: oskar
    preferred_username: Oskar


groups:
  admin:
    users:
      [
        admin@spiffworkflow.org,
        oskar@spiffworkflow.org
      ]
  Education:
    users:
      [
        malala@spiffworkflow.org
      ]
  President:
    users:
      [
        nelson@spiffworkflow.org
      ]

permissions:
  # Admins have access to everything.
  admin:
    groups: [admin]
    users: []
    allowed_permissions: [create, read, update, delete]
    uri: /*

  # Everybody can participate in tasks assigned to them.
  tasks-crud:
    groups: [everybody]
    users: []
    allowed_permissions: [create, read, update, delete]
    uri: /tasks/*

  # Everyone can see everything (all groups, and processes are visible)
  read-all-process-groups:
    groups: [ everybody ]
    users: [ ]
    allowed_permissions: [ read ]
    uri: /process-groups/*
  read-all-process-models:
    groups: [ everybody ]
    users: [ ]
    allowed_permissions: [ read ]
    uri: /process-models/*
  read-all-process-instance:
    groups: [ everybody ]
    users: [ ]
    allowed_permissions: [ read ]
    uri: /process-instances/*
  read-process-instance-reports:
    groups: [ everybody ]
    users: [ ]
    allowed_permissions: [ read ]
    uri: /process-instances/reports/*
  processes-read:
    groups: [ everybody ]
    users: [ ]
    allowed_permissions: [ read ]
    uri: /processes
  # Members of the Education group can change the processes under "education".
  education-admin:
    groups: ["Education", "President"]
    users: []
    allowed_permissions: [create, read, update, delete]
    uri: /process-groups/education:*

  # Anyone can start an education process.
  education-everybody:
    groups: [everybody]
    users: []
    allowed_permissions: [create, read]
    uri: /process-instances/misc:category_number_one:process-model-with-form/*
    
  # Anyone can see their own user groups.
  groups-everybody:
    groups: [everybody]
    users: []
    allowed_permissions: [create, read]
    uri: /v1.0/user-groups/for-current-user

