users:
  admin:
    service: local_open_id
    email: admin@example.com
    password: admin
    preferred_username: admin
  adminX:
    service: bootstrap
  nelson:
    service: local_open_id
    email: nelson@example.com
    password: nelson
    preferred_username: nelson
  malala:
    service: local_open_id
    email: malala@example.com
    password: malala
    preferred_username: malala
  oskar:
    service: local_open_id
    email: oskar@example.com
    password: oskar
    preferred_username: oskar

groups:
  admin:
    users: [admin@example.com, adminX@bootstrap, nelson@example.com]
  approvers:
    users: [malala@example.com, oskar@example.com]

permissions:
  # Admins have access to everything.
  admin:
    groups: [admin]
    actions: [all]
    uri: /*

  # Everybody can participate in tasks assigned to them.
  # BASIC, PG, PM, are documented at https://spiff-arena.readthedocs.io/en/latest/reference/permission_url.html#permission-url
  basic:
    groups: [everybody]
    actions: [all]
    uri: BASIC

  # Everyone can see everything (all groups, and processes are visible)
  read-all-process-groups:
    groups: [everybody]
    actions: [read]
    uri: PG:ALL
  read-all-process-models:
    groups: [everybody]
    actions: [read]
    uri: PM:ALL
  run-all-process-models:
    groups: [everybody]
    actions: [start]
    uri: PM:ALL
