users:
  admin:
    service: local_open_id
    email: admin@spiffworkflow.org
    password: admin
    preferred_username: Admin
  nelson:
    service: local_open_id
    email: nelson@spiffworkflow.org
    password: nelson
    preferred_username: Nelson
groups:
  admin:
    users: [admin@spiffworkflow.org, nelson@spiffworkflow.org]
  group1:
    users: [jason@sartography.com, kevin@sartography.com]
  group2:
    users: [dan@sartography.com]
  group3:
    users: [jon@sartography.com]
  spiff_public:
    users: []

permissions:
  admin:
    groups: [admin, group1]
    actions: [create, read, update, delete]
    uri: /*

  basic:
    groups: [group2, group3]
    actions: [all]
    uri: BASIC

  basic-read:
    groups: [group2]
    actions: [read]
    uri: PG:ALL

  # pg-read:
  #   groups: [group3]
  #   actions: [read]
  #   uri: PG:extensions:test1
  # pg-read-2:
  #   groups: [group3]
  #   actions: [read]
  #   uri: PG:hey:yo:sure
  #
  # pm-read-2:
  #   groups: [group3]
  #   actions: [read]
  #   uri: PM:extensions:test1:sure

  pm-read:
    groups: [group3]
    actions: [read]
    uri: PM:site-administration:set-permissions
  pg-read:
    groups: [group3]
    actions: [read]
    uri: PG:misc

  public_access:
    groups: [spiff_public]
    actions: [read, create, update]
    uri: /public/*
