<!doctype html>
<html lang="en">
  <head>
    <title>Login Form</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ host_url }}{{ url_for('openid.static', filename='login.css') }}"
    />
  </head>
  <body>
    <header>
      <img
        class="logo_small"
        src="{{ host_url }}{{ url_for('openid.static', filename='logo_small.png') }}"
        alt="Small SpiffWorkflow logo"
      />
    </header>

    <h2>Login</h2>
    <div class="error">{{error_message}}</div>
    <div class="login">
      <form
        id="login"
        method="post"
        action="{{ host_url }}{{ url_for('openid.form_submit') }}"
      >
        <p>
          <b>Important:</b> This login form is for demonstration purposes only.
          In production systems you should be using a real Open ID System.
        </p>
        <input
          type="text"
          class="cds--text-input"
          name="Uname"
          id="username"
          placeholder="Username"
        />
        <br /><br />
        <input
          type="Password"
          class="cds--text-input"
          name="Pass"
          id="password"
          placeholder="Password"
        />
        <br /><br />
        <input type="hidden" name="state" value="{{state}}" />
        <input type="hidden" name="response_type" value="{{response_type}}" />
        <input type="hidden" name="client_id" value="{{client_id}}" />
        <input type="hidden" name="scope" value="{{scope}}" />
        <input type="hidden" name="redirect_uri" value="{{redirect_uri}}" />
        <input
          type="submit"
          name="log"
          class="cds--btn cds--btn--primary"
          id="spiff-login-button"
          value="Log In"
        />
        <br /><br />
        <!-- should maybe add this stuff in eventually, but this is just for testing.
        <input type="checkbox" id="check">
        <span>Remember me</span>
        <br><br>
        Forgot <a href="#">Password</a>
         -->
      </form>
    </div>
  </body>
</html>
