name: Build Docs

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

defaults:
  run:
    working-directory: docs

jobs:
  build:
    name: build-docs
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12
      - name: Pip Install
        run: |
          pip install -r requirements.txt
      - name: Build
        run: |
          ./bin/build --ci
